%h1 Terse url shortener

#errors.alert.alert-danger.hidden
  .message Invalid url, make sure to include http(s)://

=form_for @url, url: urls_path, method: 'post', data: { remote: true }, html: { class: 'form form-inline', id: 'shorten_form'} do |f|
  .form-group
    =f.text_field :full, class: 'form-control url-field', autofocus: true
  =f.submit 'Shorten', class: 'btn bnt-primary btn', id: 'shorten_form_submit'
