%h4 15 newest urls shortened for #{current_user.username}
%table.table.table-striped
  %thead
    %tr
      %th Short
      %th Full
      %th Visits
  %tbody
    -@user_urls.each do |url|
      %tr
        %td=link_to short_url(url),short_url(url), target: '_blank'
        %td=url.full
        %td=url.visit_count