!!! 5
%html
  %head
    %title Terse
    =stylesheet_link_tag "application", media: "all"
    =stylesheet_link_tag "//fonts.googleapis.com/css?family=Oswald"
    =stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto+Slab"
    =stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    .container
      .row
        .col-xs-12
          =render partial: 'users/widget'
          =yield
      .row
        .col-xs-6#result
        .col-xs-6
          #user_urls
            -if current_user
              =render partial: 'users/urls'